@charset "utf-8";

$menu-item-active-color: #623EDA;
$menu-item-active-background-color: rgba(98, 62, 218, 0.1);

@import url('http://fonts.cdnfonts.com/css/roboto');
@import "../node_modules/bulma/bulma.sass";

html, body, #app, #app > .columns{
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
}
.menu .menu-list li a {
    font-family: Roboto Medium;
    font-size: 18px;
}
.menu .menu-list li a:not(a.is-active) {
    color: rgba($color: #000000, $alpha: 0.3)
}

.content {
    background-color: #F7F8FA;
}

.objective:not(:first-child), .bhag:not(:first-child) {
    margin-top: 2em;
}